

<div class="col-md-9 center">
	
	<h1 class="text-center">Sign Up</h1>
	<form action="/user/create" method="post">
		<input name="username" type="text" class="form-control" placeholder="Username" required autofocus>
		<input name="email" type="text" class="form-control" placeholder="Email" required autofocus>
		<input name="password" type="password" class="form-control" placeholder="Password" required>
		<input name="passwordQ" type="password" class="form-control" placeholder="confirm Password" required>
		<input type="submit" value="Log in" class="mybtn btn-primary btn-block">
	</form>

	<h1 class="text-center">Sign Up using facebook</h1></br>

				
	<div class="col-md-4 center">					
		<a href="/user/login-facebook" class="btn btn-block btn-social btn-facebook"><span class="fa fa-facebook"></span> Sign in with facebook</a>
	</div>

</div>
